services:
  stats-db:
    image: postgres:16.1
    container_name: stats-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=stats
      - POSTGRES_USER=praktikum
      - POSTGRES_PASSWORD=praktikum
    networks:
      - explore-with-me
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U praktikum" ]
      interval: 5s
      timeout: 5s
      retries: 5

  stats-server:
    build: stats-server/
    container_name: stats-server
    ports:
      - "9090:9090"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/stats
      - SPRING_DATASOURCE_USERNAME=praktikum
      - SPRING_DATASOURCE_PASSWORD=praktikum
    depends_on:
      stats-db:
        condition: service_healthy
    networks:
      - explore-with-me

  ewm-db:
    image: postgres:16.1
    container_name: ewm-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=ewm
      - POSTGRES_USER=praktikum
      - POSTGRES_PASSWORD=praktikum
    networks:
      - explore-with-me
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U praktikum" ]
      interval: 5s
      timeout: 5s
      retries: 5

  ewm-service:
    build: ewm-service/
    container_name: ewm-service
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://ewm-db:5432/ewm
      - SPRING_DATASOURCE_USERNAME=praktikum
      - SPRING_DATASOURCE_PASSWORD=praktikum
      - STATS_SERVICE_URL=http://stats-server:9090
    depends_on:
      ewm-db:
        condition: service_healthy
      stats-server:
        condition: service_started
    networks:
      - explore-with-me

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9091:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    volumes:
      - ./monitoring/prometheus/data:/prometheus
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:rodocker-compose down -v
    networks:
      - explore-with-me

  grafana:
    image: grafana/grafana-enterprise:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    volumes:
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - explore-with-me

volumes:
  prometheus-data:
  grafana-data:

networks:
  explore-with-me:
    driver: bridge